.dayPicker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.buttonPicker {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  width: 13.6rem;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  opacity: 90%;
}

.buttonLeft {
  justify-content: flex-end;
}

.buttonRight {
  justify-content: flex-start;
}

/**********************************/
/* BELOW 1344px (Smaller Desktops) */
/**********************************/

@media (max-width: 84em) {
  .tilesRowContainer {
    display: block;
    position: relative;
    width: 52rem;
    height: 7.2rem;
    overflow: hidden;
  }
}

/**********************************/
/* BELOW 940px (Tablets) */
/**********************************/

@media (max-width: 58em) {
  .tilesRowContainer {
    width: 37rem;
  }
}

/**********************************/
/* BELOW 670px (Small tablets) */
/**********************************/

@media (max-width: 42em) {
  .tilesRowContainer {
    width: 22rem;
  }

  .buttonLeft {
    font-size: 0;
  }

  .buttonRight {
    font-size: 0;
  }

  .buttonPicker {
    width: 4.8rem;
  }
}

/**********************************/
/* BELOW 544px (Mobile phones) */
/**********************************/

@media (max-width: 34em) {
  .dayPicker {
    gap: 1.2rem;
  }
}
