.weatherIcon {
  height: 16.8rem;
  width: auto;
}

/**********************************/
/* BELOW 670px (Small tablets) */
/**********************************/

@media (max-width: 42em) {
  .weatherIcon {
    height: 13.6rem;
  }
}
