.weatherCardsRow {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90rem;
  margin: 2.4rem 0;
}

.leftCard {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%) scale(0.8);
  filter: blur(4px);
  opacity: 40%;
}

.middleCard {
  z-index: 1;
}

.rightCard {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(0, -50%) scale(0.8);
  filter: blur(4px);
  opacity: 40%;
}

/**********************************/
/* BELOW 940px (Tablets) */
/**********************************/

@media (max-width: 58em) {
  .weatherCardsRow {
    width: 64rem;
  }

  .leftCard {
    left: 0%;
  }

  .rightCard {
    right: 0%;
  }
}

/**********************************/
/* BELOW 670px (Small tablets) */
/**********************************/

@media (max-width: 42em) {
  .weatherCardsRow {
    width: 30rem;
  }

  .leftCard {
    left: -50%;
  }

  .rightCard {
    right: -50%;
  }
}
