:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(to bottom right, #6c28d1, #5317d4a2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 720px;
  width: 1340px;
  align-items: center;
  justify-content: flex-start;

  background-image: linear-gradient(
    to top left,
    rgb(54, 2, 131, 0.8),
    rgb(45, 26, 87, 0.8)
  );
  border-radius: 24px;
  box-shadow: 0px 12px 36px rgb(0, 0, 0, 0.2);
}

.location-container {
  display: flex;
  height: 80px;
  width: 480px;
  margin-top: 96px;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.pin-icon {
  height: 24px;
  width: 24px;
}

.current-weather-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  height: 360px;
  width: 640px;

  background-image: linear-gradient(to top, #1a63eb, #67c9d6);
  border-radius: 24px;
  box-shadow: 0px 12px 36px rgb(0, 0, 0, 0.2);
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.weather-icon {
  height: 168px;
  width: auto;
}

.description {
  color: rgba(218, 218, 218, 0.9);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.weather-information-container {
  display: flex;
  flex-direction: column;
  padding: 0 18px 18px;
  width: 280px;
}

h2 {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 12px;
  align-self: center;
}

.attribute-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.weather-attributes {
  color: rgba(218, 218, 218, 0.603);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.attribute-value {
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
}
