:root {
  font-family: Poppins, Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(to bottom right, #6c28d1, #5317d4a2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, Inter, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 720px;
  width: 1340px;
  align-items: center;
  justify-content: space-between;

  background-image: linear-gradient(
    to top left,
    rgb(54, 2, 131, 0.8),
    rgb(45, 26, 87, 0.8)
  );
  border-radius: 24px;
  box-shadow: 0px 24px 36px rgb(0, 0, 0, 0.5);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 64px 0;
  padding: 0 64px;
}

.logo-container {
  width: 220px;
}

.search-container {
  width: 220px;
}

.hidden {
  display: none !important;
}
