:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(to bottom right, #6c28d1, #5317d4a2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-container {
  display: flex;
  height: 720px;
  width: 1340px;
  /* align-items: center; */
  justify-content: center;

  background-image: linear-gradient(to top left, #360283, #2d1a57);
  border-radius: 24px;
  box-shadow: 0px 12px 36px rgb(0, 0, 0, 0.2);
}

.location-container {
  display: flex;
  margin-top: 48px;
  height: 80px;
  width: 480px;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.pin-icon {
  height: 24px;
  width: 24px;
}
