.searchContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  background-color: transparent;
  border-radius: 16px;
  border: solid 1px rgba(255, 255, 255, 0.87);
  opacity: 50%;
}

.searchInput {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  width: 160px;
}

.searchInput::placeholder {
  font-family: inherit;
  color: rgba(255, 255, 255, 0.87);
}
