.dateTile {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  width: 7.2rem;
  cursor: pointer;
}

.dateText {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.5;
  color: inherit;
}
